/* Landing page body */
#img2 {
    width: 100%;
    height: 500px !important;
  }

  #signupMain {
    height: 100vh;
    width: 100% !important;
}

@media (max-width: 600px) {
  #navForm{
    width: 100% !important;
    margin-top: 10px !important;
  }
  #listNav{
    width: 100% !important;
    display: flex !important;
    align-items: flex-start !important;
    justify-content: space-evenly !important;

  }
  #img2{
    height: 300px !important;
  }
  #cartSection{
    flex-direction: column !important;
  }
  #cartSectionDiv{
    width: 100% !important;
  }
  #delPara{
    display: none !important;
  }
  #cartSectionDiv2{
    width: 70% !important;
    height: fit-content !important;
  }
}